.card {
  width: 90%;
  padding: 25px;
  margin-top: 25px;
  gap: 15px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.editCard {
  width: 90%;
  padding: 25px;
  margin-top: 25px;
  gap: 15px;
}
