.videoContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 315px;
  overflow: hidden;
  display: block;
}

.video {
  position: relative;
  width: 100%;
  bottom: 65px;
}

.videoButton {
  position: absolute;
  z-index: 100;
}
